node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
test
coverage
.eslintignore
.prettierignore
Dockerfile
docker-compose*.yml
.dockerignore
jest.config.js
tsconfig*.json
*.spec.ts
*.e2e-spec.ts
